<p>Xin chào
  {{recipientName}}
  thuộc
  {{officeName}}, bộ phận
  {{departmentName}},</p>

<p>
  Tài sản
  <strong>{{deviceType}}</strong>
  -
  <strong>{{deviceModel}}</strong>
  với mã tài sản
  <strong>{{internalCode}}</strong>
  đã được
  <strong>{{senderName}}</strong>
  bàn giao cho bạn.
</p>

<p>
  Click vào liên kết dưới đây để xác nhận bàn giao:
</p>

<p>
  <a href='{{confirmationLink}}'>{{confirmationLink}}</a>
</p>

<hr />

<p>Hello
  {{recipientName}}
  from
  {{officeName}}, department
  {{departmentName}},</p>

<p>
  The asset
  <strong>{{deviceType}}</strong>
  -
  <strong>{{deviceModel}}</strong>
  with asset code
  <strong>{{internalCode}}</strong>
  has been transferred to you by
  <strong>{{senderName}}</strong>.
</p>

<p>
  Please click the link below to confirm the handover:
</p>

<p>
  <a href='{{confirmationLink}}'>{{confirmationLink}}</a>
</p>